# -----------------------------
# Fichier .env.template
# Remplace les valeurs par vos informations réelles
# -----------------------------

# --- Configuration MySQL ---
BDD_HOST=localhost
BDD_PORT=3307
BDD_USER=mon_user_mysql
BDD_PASSWORD=mon_mot_de_passe
BDD_NAME=distributech
