h1 {
	border: 2px #eee solid;
	color: brown;
	text-align: center;
	padding: 10px;
}

.invisible {
	display: none;
}

.negatif {
	color: red;
}

.visuel {
	padding: 0px !important;
	img {
		width: 4rem;
	}
}

.chart-view img {
	width: 90%;
	margin: auto;
}

h4 {
	text-align: center;
}

.date-qty-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.3rem;
}
